.componentError {
  color: var(--state-danger-color);
}

.componentFeedback {
  color: var(--state-info-color);
}

.componentBad {
  color: var(--state-danger-color);
}

.componentOk {
  color: var(--state-warning-color);
}

.componentGood {
  color: var(--state-success-color);
}

.componentUnknown {
  color: var(--gray);
}

.label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;

  /* stylelint-disable kaliber/layout-related-properties */
  height: 1px;
  position: absolute;
  width: 1px;
  /* stylelint-enable kaliber/layout-related-properties */
}
